@charset "utf-8";

.title {
  height: 310px;
  background-image: url(../images/concept/bg-main.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
}